/* primary styles */
body{
    margin:0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.primary-btn{
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: none;
color: #FFF;

font-size: 20px;

font-weight: 700;

}
/* header section */
.header{
    padding: 197px 240px 0px 240px;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.header h1{
color: #272727;

font-size: 80px;

font-weight: 800;
width: 708px
}
.header p{
color: rgba(39, 39, 39, 0.60);
width: 634px;
font-size: 18px;

font-weight: 400;
line-height: 30px; /* 166.667% */
}

.banner-text{
    margin-right: 97px;
}

/* featured */
.featured{
    margin: 178px 240px;
    text-align: center;
}
.featured-text h1{

color: #272727;

font-family: Lato;
font-size: 40px;

font-weight: 800;

}
.p{

color: rgba(39, 39, 39, 0.60);

margin-top: 24px;
font-size: 18px;
text-align: center;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.featured-img{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.featured-img p{
color: #272727;
text-align: center;

font-size: 24px;

font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}
.single-img{
border-radius: 300px 300px 0px 0px;
margin-right: 24px;
width: 364px;
height: 438px;
padding: 117px 47px 0 47px;
flex-shrink: 0;
}
.pink{
    background: rgba(167, 33, 98, 0.15);
}
.cyan{
    background: rgba(5, 151, 160, 0.15);
}
.green{
    background: rgba(71, 125, 17, 0.15);
}

/* our speciality */
.specialities{
    display: flex;
    margin: 0px 240px;
    padding: 86px 175px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
}
.speciality{
    margin-right: 100px;
}


/* hot deal sections */

.hot-deal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 128px 0;
    padding: 100px 429px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-text{
    margin-right: 215px;
}
.hot-deal-text h1{
color: #272727;

font-size: 40px;

font-weight: 800;

}
.pink-text{
    color: #E55473;
}

/* instagram */

.instagram{
    text-align: center;
    margin: 0 240px;
}

.insta-images{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.insta-img{
    margin-right: 24px;
}

/* subscribe */

.subscribe{
    background-image: url('../assets/images/Rectangle\ 9.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    margin: 128px 240px;
    padding: 122px 287px;
    text-align: center;
}
.sub-form{
    margin-top:48px;
    display: flex;
}
.sub-form input {
 color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 16px;

font-weight: 400;

width: 700px;
height: 64px;
flex-shrink: 0;width: 700px;
height: 64px;
margin-right: 16px;
flex-shrink: 0;
border: none;
border-radius: 8px;
background: #FFF;
}

/* footer */

.footer{
    background: #111010;
    padding: 128px 648px;
    color: #FFF;
    text-align: center;
}
.copy-text{
color: rgba(255, 255, 255, 0.40);

font-size: 16px;
margin-top: 38px;
font-weight: 400;

}